html,
body {
  font-family: 'TrebuchetMS', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
}

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

button, input {
    font-family: inherit;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

body {
  background-image: url(..//img/Pattern.png);
  background-size: 100%;
  -webkit-touch-callout: none;
  user-select: none;
}

.list-content__block-shadow {
  opacity: 0.3;
}

.list-content__blue-border {
  border: 5px solid #1698D9;
}

.list-content__pink-border {
  border: 5px solid #D91667;
}

.list-content__grey-border {
  border: 5px solid #B3B3B3;
}

.list-content__blue-background {
  background-color: #1698D9;
}

.list-content__pink-background {
  background-color: #D91667;
}

.list-content__grey-background {
  background-color: #B3B3B3;
}

.list-content__yellow-text {
  color: #FFFF66;
}

.list-content__angle-blue:before {
  background-color: #1698D9;
}

.list-content__angle-pink:before {
  background-color: #D91667;
}

.list-content__angle-grey:before {
  background-color: #B3B3B3;
}

.display-n {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.container__title {
  font-size: 36px;
  font-family: 'Exo 2';
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container .list-indent {
  margin-top: 50px;
}

.list-item {
  margin-bottom: 50px;
}

.list-content__angle {
  position: relative;
  background-color: #FFFFFF;
  margin-bottom: 15px;
  border-radius: 0 10px 10px 10px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 60px, 60px 0);
}

.list-content__angle:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: 60px;
  height: 60px;
  clip-path: polygon(0 100%, 0 0, 100% 0, 0 100%);
}

.list-content {
  min-height: 480px;
  padding: 15px 60px 0;
  background-image: url("../img/Photo@1X.png");
  background-repeat: no-repeat;
  background-position: -30px 210px;
  cursor: pointer;
  border-radius: 0 10px 10px 5px;
}

.list-content__name {
  font-size: 16px;
  color: #B3B3B3;
}

.list-content__title {
  font-size: 48px;
  line-height: 0.75;
  font-weight: bold;
  padding: 15px 0;
  color: #000000;
}

.list-content__title span {
  font-size: 24px;
}

.list-content__subname {
  font-size: 14px;
  opacity: 1;
  color: #B3B3B3;
  padding-bottom: 30px;
}

.list-content__image-position {
  position: absolute;
  display: block;
  left: -25px;
  bottom: -85px;
  z-index: -10;
  background-clip: padding-box;
}

.list-content__circle-position {
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 100%;
  line-height: 0.6;
  right: 20px;
  bottom: 20px;
  text-align: center;
  padding: 20px 10px;
}

.list-content__circle-text {
  display: block;
  font-size: 42px;
}

.list-content__circle-text span {
  font-size: 24px;
}

.list-content__link {
  text-align: center;
  font-size: 13px;
}

.list-content__link a {
  text-decoration: none;
  border-bottom: 1.5px dashed #1698D9;
  color: #1698D9;
}

.list-content__link a:active {
  border-bottom: 1.5px dashed #1698D9;
}

.list-content__link a:visited {
  border-bottom: 1.5px dashed #1698D9;
}

@media screen and (max-width: 1200px) {
  .list {
    max-width: 84%;
  }
  .list:last-child {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1014px) {
  .list {
    max-width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .list {
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .container__title {
    font-size: 24px;
  }
  .list-item {
    max-width: 300px;
  }
  .list-content__title {
    font-size: 36px;
  }
  .list-content__name {
    font-size: 13px;
  }
  .list-content {
    min-height: 400px;
    background-position: -50px 180px;
  }
}
